<html>
  <body>
    <h3>A request for fitch slap, sir:</h3>
    <div><a href="<%= url_for @url %>">picture</a></div>
    <div>
      <a href="http://fitchslap.heroku.com<%= add_picture_path(url: @url, token: @token) %>">accept</a>
    </div>
  </body>
</html>
